@{
    ViewBag.Title = "Confirmación de contraseña olvidada";
}
<link rel="stylesheet" href="~/Estilos/recuperarContraseña.css" />
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<hgroup class="title">
    <h1 class="Titulo2">@ViewBag.Title</h1>
</hgroup>
<div class="informacion">
    <h5>
        Le Hemos Enviado Un Enlace Para Restablecer Su Contraseña.
    </h5>
   <br />
        <h5><img class="viñeta" src="https://cdn-icons-png.flaticon.com/512/4927/4927844.png" width="25"  />Los correos electrónicos pueden demorarse unos minutos.</h5>
        <br />
        <h5><img class="viñeta" src="https://cdn-icons-png.flaticon.com/512/4927/4927844.png" width="25" />Si no ha recibido un correo electrónico verifique su carpeta de correo no deseado.</h5>
        <br />
        <h5><img class="viñeta" src="https://cdn-icons-png.flaticon.com/512/4927/4927844.png" width="25" />Si aún no recibe el correo electrónico después de solicita un restablecimiento de contraseña, espere 24 horas y vuelva a intentarlo.</h5>
   
</div>

