
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Covered+By+Your+Grace&family=Handlee&family=Poppins&display=swap');

body {
    background-image: url(https://img.freepik.com/vector-gratis/fondo-geometrico-blanco-dorado-realista_79603-2032.jpg?w=1060&t=st=1669447816~exp=1669448416~hmac=47d8db8b6b2c47c60285305c50d101f3b83f420232a72c21aa58cf94f9ffaba2);
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.contenedor {
    display: flex;
    flex-direction: row;
}
.columna1 {
    width: 30% !important;
    animation: lightSpeedInLeft;
    animation-duration: 2s;
}
.columna2 {
    width: 70% !important;
    animation: rotateInDownRight;
    animation-duration: 2.5s;
    font-size: 1.8rem;
    margin-left: 20rem;
}
.ImagenArticulo {
    width: 30rem;
    height: 40rem;
    margin-left: 18rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 2px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h4 {
    margin-top: 2rem;
}

.Titulo2 {
    font-family: 'Bree Serif', serif;
    font-size: 35px;
    margin-top: 4rem;
    animation: bounceInDown;
    animation-duration: 2s;
}

a {
    color: #ff5700;
    font-size: 16px;
}

    a:hover {
        color: #FFC300;
    }

.regresar {
    margin-top: 3rem;
}
strong {
    color: black;
}