@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Covered+By+Your+Grace&family=Handlee&family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: black;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-abstracto-blanco_23-2148818118.jpg?w=1060&t=st=1669447131~exp=1669447731~hmac=40ae4ad5c728611aa8f1c1bcf29611864212f14e3a2903946555c89c9019f918);
    background-repeat: no-repeat;
    background-size: cover;
}


.Titulo2 {
    font-family: 'Bree Serif', serif;
    font-size: 35px;
    margin-top: 10rem;
    text-align:center;
    margin-bottom: 6rem;
    animation: bounceInDown;
    animation-duration: 2s;
}

h5{
    text-align:center;
    font-size:1.5rem;
}