@{
    ViewBag.Title = "About";
}
<link href="~/Estilos/Nosotros.css" rel="stylesheet" />

<style>
    body {
        background-image: url(https://img.freepik.com/vector-gratis/fondo-abstracto-blanco_23-2148818118.jpg?w=1060&t=st=1669447131~exp=1669447731~hmac=40ae4ad5c728611aa8f1c1bcf29611864212f14e3a2903946555c89c9019f918);
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<div class="completo">

    <div class="columna1">
        <h2>Acerca de nosotros</h2>
        <br />
        <p>
            <strong> Mars Shop</strong> es una marca global de moda para mujer y hombre, que incluye ropa,
            calzado. Es conocida por ofrecer una completa selección de ropa de moda y vanguardia a precios atractivos y accesibles.
            Contamos con más de 10 tiendas ubicadas en México, así como mas de 15 en Sudamérica, Asia y Europa.
        </p>
        <br />
        <img class="imagen1" src="https://img.freepik.com/foto-gratis/mujer-piel-oscura-muy-elegante-chaqueta-beige-sonrie-mira-al-frente-sostiene-percha-sueter-punto-blanco_197531-24100.jpg?w=1060&t=st=1669349746~exp=1669350346~hmac=00eb21d8c95dd6c666fb62a76671a516c4ed191e7f134d2b612d1fdbad8f67ce" />

    </div>

    <div class="columna2">
        <img class="imagen2" src="https://img.freepik.com/foto-gratis/hombre-eligiendo-calzado-tienda-hombres_1303-30938.jpg?w=1060&t=st=1669347138~exp=1669347738~hmac=ec2ebedb17d058d71891f3fa783419ae11a66bd914b67b7eae53eeabd45b8d6d" />
    </div>
</div>
