@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="~/Estilos/MarsShop.css" />

<style>
    body {
        background-image: url(https://img.freepik.com/vector-gratis/fondo-abstracto-blanco_23-2148818118.jpg?w=1060&t=st=1669447131~exp=1669447731~hmac=40ae4ad5c728611aa8f1c1bcf29611864212f14e3a2903946555c89c9019f918);
    }
</style>

<div class="contenedorG">

    <div>
        <img class="baner1" src="~/banners/baner1.jpg" />
    </div>
    <h3 style="font-size: 5rem;"><marquee onmouseover="this.stop()" onmouseout="this.start()" scrollamount="10" scrolldelay="100" behavior="alternate">30% Seleccionado  </marquee></h3>
    <div class="desc1">
        <div class="col1">
            <img class="imagenesr" src="https://cdn.shopify.com/s/files/1/0573/8283/0262/products/00439611-01-4_full_700x.jpg?v=1632512076" />

        </div>
        <div class="col2">
            <img class="imagenesr" src="https://img.freepik.com/foto-gratis/atractiva-mujer-mano-cinturon-otra-cara_132075-14008.jpg?w=360&t=st=1669619590~exp=1669620190~hmac=fad93547029f6d07eaa70c6b0a0e0ba1d6d07e795152d76699fce7f5c41a4154" />
        </div>
        <div class="col3">
            <img class="imagenesr" src="https://img.ltwebstatic.com/images3_pi/2021/10/12/1634002411fdebc17420ee19dc2890f70d31851fac_thumbnail_900x.webp" />
        </div>

        <div class="col4">
            <img class="imagenesr" src="https://img.freepik.com/foto-gratis/atractiva-mujer-estilo-gafas-sol-chaqueta-gris-posando-labios-rojos-al-aire-libre-ciudad_291650-2650.jpg?w=360&t=st=1669621481~exp=1669622081~hmac=1d622bfc491de66f87ae15f482331681df26058d1fac0057582e08b37bd9ec64" />
        </div>
    </div>

    <div>
        <input class="vermas" type="button" onClick="parent.location='https://localhost:44389/Ropa'" value="Ver Más" target="_blank">
    </div>

    <h3 style="font-size: 6rem;"> 35% al Comprar 2  </h3>
    <div class="desc1">
        <div class="col1">
            <img class="imagenesr" src="https://img.freepik.com/fotos-premium/hermosas-piernas-femeninas-botas-cuero-negro-nueva-coleccion-zapatos-invierno-mujer_173815-33372.jpg?w=360" />

        </div>
        <div class="col2">
            <img class="imagenesr" src="https://img.freepik.com/foto-gratis/hombre-alternativo-atando-cordones-zapatos-botas-suelo_53876-101248.jpg?w=360&t=st=1669696053~exp=1669696653~hmac=47875f226c79dbeb2f5f47cefd0183f3c7592df92e1c91e6ff6a9d7fbbbdd345" />
        </div>
        <div class="col3">
            <img class="imagenesr" src="https://img.freepik.com/fotos-premium/piernas-femeninas-mocasines-cuero-negro-zapatos-mujer-otono-tacon_173815-32223.jpg?w=360" />
        </div>

        <div class="col4">
            <img class="imagenesr" src="https://img.freepik.com/fotos-premium/hombre-zapatillas-casuales-cuero-blanco-zapatillas-verano-hombre-hombre-jeans-negros_173815-29535.jpg?w=360" />
        </div>
    </div>
    <div>
        <input class="vermas" type="button" onClick="parent.location='https://localhost:44389/Calzado'" value="Ver Más" target="_blank">
    </div>

    <div class="beneficios">
        <h2> Beneficios</h2>
        <div class="desc2">
            <div class="envio">
                <h4>Disfruta de <br /> <strong>¡Envío Gratis!</strong> apartir de $399</h4>
                <img class="imagenB"  src="https://cdn-icons-png.flaticon.com/512/411/411712.png"/>
            </div>
            <div class="compras">
                <h4> <strong>Compras Seguras</strong> <br /> Tu información está protegida</h4>
                <img class="imagenB" src="https://cdn-icons-png.flaticon.com/512/4452/4452940.png" />
            </div>
            <div class="meses">
                <h4>Disfruta de  3 ó 6 meses <br /> sin intereses <br /> pagando con <strong>Mercado Pago</strong></h4>
                <img class="imagenB" src="https://cdn-icons-png.flaticon.com/512/1086/1086741.png" />
            </div>

            <div class="garantia">
                <h4>Cambios y garantías <br /> hasta <strong>2 años</strong> de garantía</h4>
                <img class="imagenB" src="https://cdn-icons-png.flaticon.com/512/771/771222.png" />
            </div>
        </div>
    </div>

    <div >

        
        <div class="redessociales">
            <div class="redesS">
                <h4>Síguenos</h4>
                <img class="redes" onclick="parent.location='https://www.facebook.com/'" src="https://cdn-icons-png.flaticon.com/512/20/20837.png" />
                <img class="redes" onclick="parent.location='https://www.instagram.com/'" src="https://cdn-icons-png.flaticon.com/512/1384/1384031.png" />

                <img class="redes" onclick="parent.location='https://www.twitter.com/'" src="https://cdn-icons-png.flaticon.com/512/733/733635.png" />
            </div>
           
            <div class="app">
                <h4>App</h4>
                <img class="redes" onclick="parent.location='https://play.google.com/store/games?hl=es_MX'" src="https://cdn-icons-png.flaticon.com/512/160/160138.png" />
                <img class="redes" onclick="parent.location='https://www.apple.com/mx/app-store/'" src="https://cdn-icons-png.flaticon.com/512/0/747.png" />

                
            </div>
        </div>
        </div>
        
    </div>



